@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap');
* {
  margin: 0;
  padding: 0;
}
.heading{
  background: url("image.png");
  height: 850px;
  text-align: center;
}
.sImage{
  height: 35px;
  width: 24%;
  padding-right: 30%;
}
img {
  width: 100%;
  height: 500px;
  border-radius: 20px;
  margin-bottom: 100px;
}
.heading a span {
  color: #FED810;
  
  
}
.heading a{
  color: #fff;
  padding-top: 29%;
  padding-left: .01%;
  position: absolute;
}
.heading{
  text-decoration-line: none;
  font-size: 50px;
  text-align: center;
  /* padding: 50 auto; */
  margin-bottom: 100px
;
  
  /* position: relative; */

}
a{
  text-decoration: none;
}


.container {
  width: 800px;
  height: 800px;
  background: #fff;
  margin: 50px auto;
  
}
.container, h1, p {
  text-align: center;
  font-size: 45%;
  margin-bottom: 20px;
  color: #0067a0;
  
}
.input,
.img .area {
  width: 90%;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 2px;
  border: 2px solid #e9eaea;
  font-size: 14px;
  border-radius: 20px;
  outline: none;
  transition: all 0.5a ease;
  

}
h1 {
  font-size: 45px;
}
p {
  font-size: 32px;
}
.contacts{

  float: left;
  width: 33.3%;
  /* margin-bottom: 200px;
  align-content: center;
  margin: 20px;
   */

}
.icons h1{
  font-size: medium;
  color: #0067a0;
  padding: 5px;  
}
.icons p{
  font-size: small; 
  padding: 5px; 
}

.login .name {
  width: 45%;
}
.login .input .subject {
  float: left;
  margin-right: 4%;
}

.msg .area {
  height: 220px;
  width: 750px;
  font-size: 14px;
  border-radius: 20px;
  outline: none;
  margin-top: 10px;
}
.btn {
  width: 180px;
  background: #0067a0;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  margin: 0 auto;
  cursor: pointer;
  font-size: 20px;
  border-radius: 20px;
  margin-left: 15px;
}
.input:focus,
.msg .area:focus {
  border: 2px solid #0067a0;
}

/* .contacts-body {
  height: auto;
  min-height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5.5rem 1rem 1rem 1rem;
} */

 

.contacts {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  text-align: center;
  padding-bottom: 25px;
  
}

.contact-figure {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #FED81061;
  padding: 1.875rem;
}

.contact-title {
  font-weight: 500;
  font-size: 1.5rem;
  color: #0067a0;
}

.contacts {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /* margin-bottom: ; */
}

/* .contact-figure {
  width: 92px;
  height: 89px;
  border-radius: 1.25rem;
  background-color: rgba(0, 103, 160, 0.08);
  padding: 1.875rem;
} */


.contact-content {
  width: 18ch;
  font-weight: 400;
  line-height: 15.5px;
  font-size: small;
  color: black;
}
@media screen and (max-width: 768px) {
  
  .heading{
    font-size: 25px;
    text-align: center;
  }
  .container h1{
    text-align: center;
    
  }
  .contacts{
    display: block;
  }
}
