.acct__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.heading h2 {
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 30px;
  color: var(--color-text);
}

.check {
  display: flex;
}

.check h4 {
  margin-top: -0.5rem;
  padding-left: 0.5rem;
  font-weight: 500;
  font-size: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

.form h4 {
  text-align: justify;
  margin-bottom: 3rem;
  width: 120%;
  color: var(--color-text);
}

.form input {
  margin-bottom: 2rem;
  width: 120%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid var(--color-input);
  padding: 1rem;
}
.form button {
  margin-bottom: 1rem;
  width: 120%;
  height: 40px;
  border: none;
  border-radius: 10px;
  background: var(--color-brand-blue);
  color: var(--color-light);
  font-size: 17px;
  cursor: pointer;
}

@media (max-width: 425px) {
  .heading h2 {
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: 20px;
  }

  .form h4 {
    text-align: center;
    width: 100%;
    font-size: 14px;
  }

  .form input {
    width: 80%;
  }
  .form button {
    width: 80%;
  }
}
