/* HERO AND CTA SECTION */
/* .hero {
}
.cta {
} */

.hero .wrapper,
.cta .wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 700px;
}
/* .hero__content {
} */

.hero__heading {
  margin-top: 147px;
}
.cta__heading {
  margin-bottom: 2.875rem;
}
.hero__lead,
.cta__lead {
  font-weight: 400;
  line-height: 1.25rem;
  max-width: 30.625rem;
  color: var(--color-dark);
}
.hero__lead {
  margin-top: 1.25rem;
  margin-bottom: 56px;
}

.cta__lead {
  margin-bottom: 1.25rem;
}

.hero__content .btn,
.cta__content .btn {
  width: fit-content;
  box-sizing: content-box;
  border-radius: 1.25rem;
  padding: 1rem 1.875rem;
}
.cta__content .btn {
  margin-top: 2.875rem;
}

.cta__figure {
}
.hero__figure {
}

/* SERVICES SECTION STYLES */
.services {
  width: 100%;
  letter-spacing: 0.03em;
  color: var(--color-dark);
  height: auto;
  min-height: 560px;
  margin-bottom: 6.125rem;
}

/* .services .wrapper {
} */

.services__header {
  width: 100%;
  text-align: center;
}

.services__header .heading-6 {
  text-transform: uppercase;
  color: var(--color-brand-blue);
  margin-bottom: 2rem;
}

.services__heading {
  font-weight: 500;
  font-size: 2rem;
}
.services__body {
  height: auto;
  min-height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5.5rem 1rem 1rem 1rem;
}

/* FEATURE STYLES */
.feature {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.feature__figure {
  width: 92px;
  height: 89px;
  border-radius: 1.25rem;
  background-color: rgba(0, 103, 160, 0.08);
  padding: 1.875rem;
}

.feature__title {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--color-brand-blue);
  margin: 2.2rem 0 1.25rem 0;
}

.feature__content {
  width: 18ch;
  font-weight: 400;
}
