p {
  font-weight: 400;
  line-height: 1.25rem;
  max-width: 30.625rem;
  color: var(--color-dark);
}
.homepage__main {
}
.homepage__main .wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 700px;
}
.homepage__main-content {
}
.homepage__heading {
  margin-top: 147px;
}
.homepage__lead {
  margin-top: 1.25rem;
  margin-bottom: 56px;
  letter-spacing: 0.03em;
}

.homepage__main-content .btn {
  width: fit-content;
  box-sizing: content-box;
  border-radius: 1.25rem;
  padding: 1rem 1.875rem;
}

.homepage__main-figure {
}
