/* HERO AND CTA SECTION */
.hero {
}
.cta {
}

.hero .wrapper,
.cta .wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 700px;
}
.hero__content {
}

.hero__heading {
  margin-top: 147px;
}
.cta__heading {
  margin-bottom: 2.875rem;
}
.hero__lead,
.cta__lead {
  font-weight: 400;
  line-height: 1.25rem;
  max-width: 30.625rem;
  color: var(--color-dark);
  letter-spacing: 0.03em;
}
.hero__lead {
  margin-top: 1.25rem;
  margin-bottom: 56px;
}

.cta__lead {
  margin-bottom: 1.25rem;
}

.hero__content .btn,
.cta__content .btn {
  width: fit-content;
  box-sizing: content-box;
  border-radius: 1.25rem;
  padding: 1rem 1.875rem;
}
.cta__content .btn {
  margin-top: 2.875rem;
}

.cta__figure {
}
.hero__figure {
}

/* SERVICES SECTION STYLES */
.services {
  width: 100%;
  letter-spacing: 0.03em;
}
.services .wrapper {
}
.services__header {
  width: 100%;
  text-align: center;
}
.services__heading .heading-6 {
  text-transform: uppercase;
}
.services__heading {
  font-weight: 500;
  font-size: 2rem;
}
.services__body {
}

/* FEATURE STYLES */
.feature {
}
.feature__figure {
}
.feature__title {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--color-brand-blue);
}
.feature__content {
  font-weight: 400;
}
