/*
This is the Global css file 
it should contain global styles and DOM overides 
 */

/* Variables */
:root {
  --color-brand-blue: #0067a0;
  --color-brand-yellow: #fed810;
  --color-dark: #1a1919;
  --color-light: #ffffff;
  --color-neutral-gray: #716f6f;
  --color-neutral-light-gray: #afacac;
  --color-bg-blue: rgba(0, 103, 160, 0.59);
  --color-text: #000000;
  --color-bg-grey: #fbfbfb;
}
/* Google Font  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  font-size: 16px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  width: 100%;
  height: auto;
  font-family: "Montserrat", sans-serif;
  vertical-align: baseline;
  line-height: 1.6;
  color: var(--color-neutral-gray);
  background-color: var(--color-light);
}

html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
}

main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--color-brand-blue);
}

h1 {
  color: var(--color-dark);
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 43.88px;
}

input {
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

input[type="submit"] {
  cursor: pointer;
  border: none;
}
input::placeholder {
  color: var(--color-neutral-gray);
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
}

/*  UTILITY CLASSES HERE */
.btn {
  --btn-width: 130px;
  --btn-height: 38px;
  display: block;
  min-width: var(--btn-width);
  min-height: var(--btn-height);
  line-height: var(--btn-height);
  text-align: center;
  border-radius: 30px;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.15rem;
  /* TODO Should not have letter spacing */
  letter-spacing: 0.03em;
}

.btn-primary {
  color: var(--color-brand-blue);
  border: 1px solid var(--color-brand-yellow);
  background-color: var(--color-light);
}

.btn-secondary {
  color: var(--color-light);
  background-color: var(--color-brand-blue);
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0.75rem 2.5rem;
}

@media screen and (max-width: 970px) {
  .wrapper {
    padding: 0.75rem 1.25rem;
  }
}

.txt-blue {
  color: var(--color-brand-blue);
}

/* COMPONENT STYLES */

/* HEADER */
.header {
  width: 100%;
  min-height: 77px;
  background-color: #fbfbfb;
  box-shadow: 0px 0px 4px 0px #00000026;
  position: relative;
  z-index: 99;
}

.header--transparent {
  background-color: #0000003d;
  box-shadow: none;
}

.header--absolute {
  position: absolute;
  /* top: 0;
  left: 0; */
}
.header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  flex: 2 0 auto;
  padding-left: 15%;
}
@media screen and (max-width: 1280px) {
  .nav {
    padding-left: 10%;
  }
}
@media screen and (max-width: 1024px) {
  .nav {
    padding-left: 5%;
  }
}

.nav__item-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  /* gap: 3.19rem; (browser support is bad)*/
}

.nav__item {
  margin-right: 3.19rem;
}

.header--transparent .nav__link {
  color: var(--color-light);
}

.nav__link {
  color: var(--color-dark);
  font-weight: 500;
  font-size: 1.15rem;
  text-transform: capitalize;
  /* TODO Should not have letter spacing */
  letter-spacing: 0.03em;
}

.header__btn-wrapper {
  width: 100%;
  flex: 1 0 20%;
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 1280px) {
  .header__btn-wrapper {
    flex: 1 1 30%;
  }
}

@media screen and (max-width: 970px) {
  .nav,
  .header__btn-wrapper {
    display: none;
  }
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  aspect-ratio: 1/1;
  background-color: #c4c4c4;
}
/* SIDENAV */
.side-nav {
  width: 0%;
  height: 100vh;
  background-color: var(--color-light);
  border-top: 1px solid #c4c4c4;
  overflow-x: hidden;
  position: absolute;
  z-index: 99;
  transition: width 1s ease;
}

.side-nav.active {
  width: 100%;
}

.side-nav__content {
  padding-top: 1.75rem;
}
.side-nav__link {
  min-width: 150px;
  width: 100%;
  display: block;
  font-weight: 500;
  color: var(--color-dark);
  font-size: 1.125rem;
  padding: 0.625rem 0.25rem 0.625rem 2.25rem;
}
.side-nav__link:active,
.side-nav__link:hover,
.side-nav__link:focus,
.side-nav__link:focus-within {
  background-color: #c4c4c44b;
}
.menu-btn {
  flex: 0 0 1.125rem;
  width: 1.125rem;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 970px) {
  .menu-btn {
    display: block;
  }
}

.header--transparent .menu-btn__icon {
  fill: var(--color-light);
}
.menu-btn__icon {
  fill: var(--color-dark);
}

.menu-btn__icon.close {
  display: none;
}
.menu-btn.active .menu-btn__icon.open {
  display: none;
}
.menu-btn.active .menu-btn__icon.close {
  display: block;
}

/* FOOTER */
.footer {
  width: 100%;
  height: auto;
  min-height: 484px;
  background-color: var(--color-brand-blue);
  letter-spacing: 0.03em;
  padding: 2.625rem 0 3.625rem 0;
}

.footer .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 970px) {
  .footer {
    padding: 2rem 3rem 3rem 3rem;
  }
}
@media screen and (max-width: 590px) {
  .footer {
    padding: 2rem 0 3rem 0;
  }
}
.footer__subscription {
  flex: 1 0 60%;
  height: auto;
  order: 6;
  display: flex;
  align-items: center;
}
.footer__input {
  flex: 1 1 545px;
  min-height: 64px;
  border-radius: 0.625rem;
  background-color: var(--color-light);
  margin-right: 1rem;
  padding: 0 2rem;
  font-size: 1.125rem;
}

.footer__input-btn {
  background-color: var(--color-brand-yellow);
  color: var(--color-brand-blue);
  font-weight: 600;
  font-size: 1.5rem;
  padding: 1.125rem 2.2rem;
  border-radius: 0.625rem;
  text-align: center;
}

.footer__menu {
  flex: 1 0 16%;
  min-height: 160px;
  color: var(--color-light);
  padding: 1rem 1rem 0 1rem;
  margin-bottom: 2rem;
}

.footer__menu-header {
  font-size: 1.5rem;
  position: relative;
  font-weight: 600;
  margin-bottom: 2.3rem;
}

.footer__menu-header::before {
  content: "";
  width: 81px;
  height: 3px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-brand-yellow);
}
.footer__menu-link {
  width: max-content;
  display: block;
  color: var(--color-light);
  font-weight: 500;
  margin-bottom: 0.625rem;
}
.footer__social {
  flex: 1 0 40%;
  order: 7;
}

@media screen and (max-width: 1080px) {
  .footer__subscription {
    min-height: 64px;
  }
  .footer__input {
    min-height: 45px;
    font-size: 0.825rem;
  }
  .footer__input-btn {
    font-size: 0.9rem;
    padding: 1rem 2.25rem;
  }
  .footer__menu,
  .footer__social {
    flex: 1 0 33.33%;
  }
  .footer__menu {
    margin-bottom: 1.2rem;
  }
  .footer__subscription {
    flex: 3 0 100%;
    order: initial;
  }
  .footer__social {
    order: initial;
  }
}

@media screen and (max-width: 790px) {
  .footer__menu {
    flex: 1 0 50%;
  }
  .footer__menu-header,
  .footer__menu-link {
    font-weight: 400;
  }
  .footer__menu-header {
    font-size: 1rem;
  }
  .footer__menu-link {
    font-size: 0.9rem;
  }
  .footer__menu-header::before {
    bottom: -1rem;
  }

  .footer__social {
    flex: 1 0 100%;
  }
}

@media screen and (max-width: 420px) {
  .footer__subscription {
    flex-wrap: wrap;
    margin-bottom: 1.625rem;
  }
  .footer__input-btn {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 375px) {
  .footer {
    flex-direction: column;
  }
  .footer__input {
    flex: 1 1 100%;
  }
}
