.acct__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.heading h2 {
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 30px;
  color: var(--color-text);
}

.check {
  display: flex;
}

.check h4 {
  margin-top: -0.5rem;
  padding-left: 0.5rem;
  font-weight: 500;
  font-size: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

.form h4 {
  text-align: justify;
  margin-bottom: 3rem;
  width: 120%;
  color: var(--color-text);
}

.form input {
  margin-bottom: 2rem;
  width: 120%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid var(--color-input);
  padding: 1rem;
}
.form button {
  margin-bottom: 1rem;
  width: 120%;
  height: 40px;
  border: none;
  border-radius: 10px;
  background: var(--color-brand-blue);
  color: var(--color-light);
  font-size: 17px;
  cursor: pointer;
}

@media (max-width: 425px) {
  .heading h2 {
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: 20px;
  }

  .form h4 {
    text-align: center;
    width: 100%;
    font-size: 14px;
  }

  .form input {
    width: 80%;
  }
  .form button {
    width: 80%;
  }
}

.acct__success {
  margin: 6.25rem auto;
  width: 100%;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.acct__success-figure {
  width: 228px;
  height: 168px;
}
.acct__success-heading,
.acct__success-lead {
  color: var(--color-dark);
}
.acct__success-heading {
  font-weight: 600;
  font-size: 3rem;
  margin: 5.25rem 0;
}
.acct__success-heading--error {
  color: rgb(255, 125, 116);
}
.acct__success-lead {
  font-weight: 600;
  max-width: 30ch;
  font-size: 2rem;
}

@media screen and (max-width: 1024px) {
  .acct__success {
    padding: 0 1.25rem;
  }
  .acct__success-figure {
    width: 100px;
    height: 100px;
  }
  .acct__success-heading {
    font-size: 1.625rem;
    margin: 1.25rem 0;
  }
  .acct__success-lead {
    font-size: 1rem;
  }
}
