@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

:root {
  --color-brand-blue: #0067a0;
  --color-brand-yellow: #fed810;
  --color-dark: #1a1919;
  --color-light: #ffffff;
  --color-neutral-gray: #716f6f;
  --color-neutral-light-gray: #afacac;
  --color-bg-blue: rgba(0, 103, 160, 0.59);
  --color-text: #000000;
  --color-bg-grey: #fbfbfb;
  --color-input: #9f9f9f;
  --color-signUp: rgba(254, 216, 16, 0.3);
  --color-dasboardText: #242424;
  --color-dashboard-links: #f9f9f9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: auto;
  font-family: "Montserrat", sans-serif;
  vertical-align: baseline;
  line-height: 1.6;
  color: var(--color-neutral-gray);
  background-color: var(--color-bg-grey);
}

p {
  color: var(--color-dasboardText);
  font-size: 16px;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--color-light);
  font-size: 11px;
  font-weight: 500;
}

h4 {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-light);
  margin-left: 3rem;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

h6 {
  font-weight: 500;
  font-size: 18px;
  color: var(--color-dasboardText);
}

.main {
  display: flex;
}

/* the left side start here, the profile styling */

.profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--color-brand-blue);
  width: 20%;
}

.logo {
  margin-top: 1rem;
  margin-left: 2rem;
}

.profile__links {
  margin-left: 3rem;
  width: 100%;
}

.profile__links h6 {
  margin-bottom: 1.5rem;
}

.profile__links a {
  font-weight: 500;
  font-size: 18px;
  color: var(--color-dashboard-links);
}

.profile__links__dash {
  width: 100%;
  height: 40px;
  background-color: var(--color-light);
  padding-left: 3rem;
  padding-top: 0.4rem;
  margin-bottom: 1.5rem;
  border-radius: 30px;
}

.profile__links__dash a {
  color: var(--color-brand-blue);
  font-weight: 500;
  font-size: 18px;
}

/* the right side start here, details styling */

.details {
  width: 100%;
}

.details__header {
  width: 100%;
  background-color: var(--color-bg-grey);
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.05);
}

.details__header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.details__header__wrapper__left {
  display: flex;
  margin-left: 6rem;
}
.details__header__wrapper__left h6 {
  font-weight: 600;
}
.details__header__wrapper__left a,
img {
  color: var(--color-brand-blue);
  padding-left: 1.5rem;
}
.details__header__wrapper__left a {
  font-weight: 500;
  font-size: 18px;
}

.details__header__wrapper__right {
  display: flex;
  margin-right: 4rem;
}

.details__header__wrapper__right h6,
img {
  padding-left: 1.5rem;
}
.details__header__wrapper__right h6 {
  margin-top: 1rem;
  padding-right: 1.5rem;
}

.settings {
  border-left: 2px solid var(--color-neutral-light-gray);
  margin-left: 1.5rem;
}

/*  The actual detail of the user after the header stying*/

.details__detail {
  display: flex;
  flex-direction: column;
}
.details__detail h4 {
  color: var(--color-neutral-gray);
  font-weight: 500;
  font-size: 30px;
}

.color__blue {
  color: var(--color-brand-blue);
}

/* everything about the user stying */

.details__detail {
  width: 100%;
}

.details__detail__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.overview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-light);
  width: 80%;
}

.overview__details {
  display: flex;
  width: 100%;
}

.email__name__edit {
  display: flex;
  border-bottom: 2px solid var(--color-neutral-light-gray);
  width: 100%;
  margin-left: 2rem;
  padding: 1rem;
}

.email__name {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.email {
  display: flex;
}

.para {
  padding-left: 2rem;
}

.email__name h4 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.btn {
  width: 165px;
  height: 46px;
  border: none;
  margin-top: 1rem;
  border-radius: 30px;
  color: var(--color-light);
  background-color: var(--color-brand-blue);
}

/*  user information, address, city etc info stying */

.info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-left: 7.5rem;
  padding-top: 2.5rem;
  margin-bottom: 3rem;
  padding-right: 1rem;
}

.info h5 {
  color: var(--color-input);
  font-weight: 500;
  font-size: 18px;
}

.section {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
.section h5 {
  color: var(--color-input);
  font-size: 24px;
  font-weight: 600;
}

.section h5:first-child {
  color: var(--color-brand-blue);
}

/* the cards with the data doctors etc cards styling */

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  height: 100%;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding-right: 1rem;
}

.cards h5 {
  text-align: center;
  width: 100%;
  font-weight: 600;
  font-size: 24px;
  background-color: var(--color-bg-grey);
  color: var(--color-brand-blue);
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* data cards styling */

.data {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  background-color: var(--color-light);
  border-radius: 20px;
  height: 250px;
  border: 1px solid #c4c4c4;
}

.blood__groups {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 1rem;
  /* margin-top: 3rem; */
}

.blood__groups img {
  margin-right: 1rem;
}

.group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* report cards styling */

.report {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 250px;
  margin-right: 2rem;
  padding: 1rem;
  background-color: var(--color-light);
  border-radius: 20px;
  border: 1px solid #c4c4c4;
}

.report__types {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}

.report__types img {
  margin-right: 1rem;
}

.report__types h6 {
  margin-top: 0.5rem;
}

/* doctors cards styling */

.doctors {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 250px;
  padding: 1rem;
  background-color: var(--color-light);
  border-radius: 20px;
  border: 1px solid #c4c4c4;
  margin-bottom: 2rem;
}

.doctors__name {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 1rem;
}

.doctors__name img {
  margin-right: 1rem;
}

/* hospital cards styling */

.hospitals {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 250px;
  padding: 1rem;
  background-color: var(--color-light);
  border-radius: 20px;
  border: 1px solid #c4c4c4;
  margin-bottom: 2rem;
}

.img__name {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.img__name img {
  margin-right: 1rem;
}

@media screen and (max-width: 1024px) {
  .overview__details {
    flex-direction: column;
  }
  .overview__details img {
    width: 50%;
    margin-top: 1rem;
  }

  .email {
    display: flex;
    flex-direction: column;
  }

  .para {
    padding-left: 0rem;
    margin-top: 1rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1rem;
  }

  .email__name__edit {
    flex-direction: column;
    margin-left: 0rem;
  }

  .address,
  .city,
  .state {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 860px) {
  h4 {
    margin-left: 0;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
  }

  .profile__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    width: 100%;
  }

  .profile__links__dash {
    text-align: center;
    padding-left: 0;
  }

  .logo {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-left: 0;
  }

  .details {
    width: 70%;
  }

  .details__detail h4 {
    text-align: center;
    font-size: 20px;
  }

  .details__header__wrapper {
    display: flex;
    flex-direction: column;
  }

  .details__header__wrapper__left {
    margin-left: 2rem;
    margin-bottom: 2rem;
  }

  .details__header__wrapper__right h6,
  img {
    padding-left: 0.5rem;
  }
  .details__header__wrapper__right h6 {
    margin-top: 1rem;
    padding-right: 0.5rem;
  }

  .details__detail__wrapper {
    align-items: center;
  }

  .section {
    flex-direction: column;
  }
  .section h5 {
    margin-bottom: 0.5rem;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .email {
    display: flex;
    flex-direction: column;
  }

  .email__name h4 {
    text-align: justify;
  }

  .para {
    text-align: justify;
    padding-left: 0;
    margin-top: 1rem;
  }

  .address,
  .city,
  .state {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 630px) {
  .email__name__edit {
    margin-left: 0;
  }

  .email__name h4 {
    text-align: justify;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1rem;
  }
}

@media screen and (max-width: 475px) {
  .details__header__wrapper__right {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 0;
  }

  .details__header__wrapper__left {
    margin-left: 0;
  }

  .details__header__wrapper__right h6 {
    margin-bottom: 1rem;
    display: none;
  }

  .details__header__wrapper__right img {
    margin-bottom: 1rem;
    width: 25%;
  }

  .settings {
    border: none;
    margin-left: 0;
  }

  .img__profile {
    display: none;
  }

  .details__detail h4 {
    font-size: 12px;
    text-align: center;
  }

  .overview {
    flex-wrap: wrap;
    width: 70%;
  }

  .email__name h4 {
    text-align: justify;
  }

  .email p {
    text-align: justify;
    font-size: 10px;
  }

  .address p,
  .address h5,
  .city p,
  .city h5,
  .state p,
  .state h5,
  .next__of__kin p,
  .next__of__kin h5,
  .section h5 {
    text-align: justify;
    font-size: 14px;
  }

  .btn {
    width: 80px;
    height: 30px;
  }
}

@media screen and (max-width: 375px) {
  p {
    font-size: 14px;
  }

  h4 {
    font-size: 14px;
    font-weight: 600;
  }

  h6 {
    font-weight: 500;
    font-size: 12px;
  }

  .profile__links a {
    font-size: 14px;
  }

  .profile__links__dash a {
    font-size: 14px;
  }
}
