.progress {
  margin-top: 2rem;
}

.doctors__details__detail {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.scan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 65px;
  width: 100%;
  margin-bottom: 315px;
}

.scan h1 {
  color: var(--color-brand-blue);
  margin-bottom: 41px;
  font-weight: 600;
  font-size: 64px;
}

.doctors__details img {
  margin-bottom: 315px;
}
