/*
This is the Global css file 
it should contain global styles and DOM overides 
 */

/* Variables */
:root {
  --color-brand-blue: #0067a0;
  --color-brand-yellow: #fed810, 100%;
  --color-dark: #1a1919, 100%;
  --color-neutral-gray: #716f6f, 100%;
  --color-neutral-light-gray: #afacac, 100%;
}
/* Google Font  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  -webkit-font-smoothing: antialiased;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  width: 100%;
  height: auto;
  font-family: 'Montserrat', sans-serif;
  vertical-align: baseline;
  line-height: 1.6;
}

img {
  max-width: 100%;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
}
